body {
  margin: 0;
  background: #fff;
}

.hero {
  position: relative;
  width: 100%;
  height: clamp(300px, 60vh, 600px);
  overflow: hidden;
  background: #000;
}

.hero__viewport {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero__slide.active {
  opacity: 1;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
